@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .px-safe {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}

body {
  background-color: hsl(216deg 14% 7%);
}
